aa-gen/**
gen/**
target/**
build/**
out/**
**/.idea/**
.idea/**
**/*.iml
.gradle/**
**/android/local.properties
**/*.DS_Store
*.pyc
*.apk
proguard_logs
.DS_Store
*.iml
**/android-key.keystore
**/pmd-report.html
**/pmd-report.xml
app/build
local.properties
gradle/**

