<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ <b>Copyright 2014 by Imagination Technologies Limited
  ~ and/or its affiliated group companies.</b>\n
  ~ All rights reserved.  No part of this software, either
  ~ material or conceptual may be copied or distributed,
  ~ transmitted, transcribed, stored in a retrieval system
  ~ or translated into any human or computer language in any
  ~ form by any means, electronic, mechanical, manual or
  ~ other-wise, or disclosed to the third parties without the
  ~ express written permission of Imagination Technologies
  ~ Limited, Home Park Estate, Kings Langley, Hertfordshire,
  ~ WD4 8LZ, U.K.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.imgtec.hobbyist" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/HobbyistNoActionBarTheme"
        android:debuggable="true"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".activities.TourActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/HobbyistActionBarTheme" >
        </activity>
        <activity
            android:name=".activities.StartApplicationActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LogInToFlowActivity"
            android:label="@string/log_in_button_text"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/HobbyistActionBarTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <service
            android:name="com.octo.android.robospice.XmlSpringAndroidSpiceService"
            android:exported="false" />

        <activity
            android:name=".activities.FlowActivity"
            android:label="@string/title_activity_flow"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/HobbyistActionBarTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity
            android:name=".activities.SearchUsersActivity"
            android:label="@string/title_activity_search_users"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.Base.Light" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
    </application>

</manifest>
